<!-- <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand text-light">Encora - Contact Manager</span>
    </div>
</nav> -->

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example" >
      <div class="container-fluid">
        <a class="navbar-brand pointer">Encora - Contact Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandNavbar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="expandNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0" [hidden]="!isUserLoggedIn">
            <li class="nav-item">
              <a class="nav-link active pointer" aria-current="page" (click)="navigateTo('/companies')">Companies</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
